@media only screen and (max-width: 1600px) {
  .repoNav {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 720px) {
  .burgerMenu {
    margin-top: 20px;
  }

  .repoNav {
    display: flex;
  }

  .respo-menu {
    justify-content: space-around;
    margin-top: -30px;
  }

  .repoNav.square {
    display: inline;
  }

  .respo-menu ul li a {
    margin-left: -20px;
  }

  .menu {
    display: none;
  }

  /* Main */
  .letsBring {
    top: 200px;
    left: 50px;
  }

  .circle {
    height: 250px;
    width: 250px;
    left: 0;
  }

  .photo img {
    top: 200px;
    position: absolute;
    height: 300px;
  }

  .hrSect1 {
    position: absolute;
    top: 290px;
    height: 5px;
  }

  .bio {
    top: 500px;
  }

  .container {
    font-size: 9px;
    top: 30%;
    left: 10%;
  }

  .backBtn {
    bottom: 50%;
    left: 21%;
  }

  .content {
    display: block;
    margin-top: 800px;
  }

  .content .text {
    display: inline;
    font-size: 30px;
  }

  .content .text h1:nth-child(2) {
    margin-top: 50px;
  }

  .content .text p {
    width: 300px;
  }

  .content .text hr {
    margin-top: 30px;
  }

  .categories {
    width: 100%;
  }

  .categories .categ {
    margin-left: 0;
    flex-wrap: wrap;
    margin-top: -70px;
  }

  .categories .categ img {
    margin-top: 50px;
  }

  .categories .categ:first-child {
    margin-top: 40px;
  }

  .categories .categ h3 {
    margin-top: -100px;
    margin-left: 100px;
  }

  .categ .direc a span {
    position: relative;
    left: 100px;
    top: -84px;
  }

  .categ .direc a img {
    left: 100px;
    top: -80px;
    /* margin-top: -150px; */
  }

  .catHr {
    width: 300px;
    left: 0px;
    top: -40px;
    opacity: 1;
  }

  .cardBox {
    margin-top: 30px;
    width: 100%;
  }

  .box-categories {
    flex-direction: column;
  }

  .cardBox h1,
  .cardBox p {
    width: 200px;
  }

  .cardBox:nth-child(2) p {
    margin-top: -10px;
  }

  .cardBox a {
    left: 160px;
    /* bottom: 30px; */
  }
}

@media only screen and (max-width: 280px) {
}
