@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 720px) {
  .burgerMenu {
    margin-top: 20px;
  }

  .repoNav {
    display: flex;
  }

  .respo-menu {
    justify-content: space-around;
    margin-top: -30px;
  }

  .repoNav.square {
    display: inline;
  }

  .respo-menu ul li a {
    margin-left: -20px;
  }

  .menu {
    display: none;
  }

  /* Main */
  .letsBring {
    top: 200px;
    left: 50px;
  }

  .circle {
    height: 250px;
    width: 250px;
    left: 0;
  }

  .photo img {
    top: 200px;
    position: absolute;
    height: 300px;
  }

  .hrSect1 {
    position: absolute;
    top: 290px;
    height: 5px;
  }

  .bio {
    top: 500px;
  }

  .container {
    font-size: 9px;
    top: 30%;
    left: 10%;
  }

  .backBtn {
    bottom: 50%;
    left: 21%;
  }

  .content {
    display: block;
    margin-top: 800px;
  }

  .content .text {
    display: inline;
    font-size: 30px;
  }

  .content .text h1:nth-child(2) {
    margin-top: 50px;
  }

  .content .text p {
    width: 300px;
  }

  .content .text hr {
    margin-top: 30px;
  }

  .categories {
    width: 100%;
  }

  .categories .categ {
    margin-left: 0;
    flex-wrap: wrap;
    margin-top: -70px;
  }

  .categories .categ img {
    margin-top: 50px;
  }

  .categories .categ:first-child {
    margin-top: 40px;
  }

  .categories .categ h3 {
    margin-top: -100px;
    margin-left: 100px;
  }

  .categ .direc a span {
    position: relative;
    left: 100px;
    top: -84px;
  }

  .categ .direc a img {
    left: 100px;
    top: -80px;
    /* margin-top: -150px; */
  }

  .catHr {
    width: 300px;
    left: 0px;
    top: -40px;
    opacity: 1;
  }

  .cardBox {
    margin-top: 30px;
    width: 100%;
  }

  .box-categories {
    flex-direction: column;
  }

  .cardBox h1,
  .cardBox p {
    width: 200px;
  }

  .cardBox:nth-child(2) p {
    margin-top: -10px;
  }

  .cardBox a {
    left: 160px;
    bottom: 0;
  }

  .portofolioBox {
    min-width: 300px;
    max-width: 300px;
  }

  .portofolioBox img {
    height: 300px;
    width: 280px;
  }

  .aboutMe {
    height: 800px;
  }

  .aboutMe span i {
    margin-left: 130px;
  }

  .part-one {
    width: 65%;
  }

  .part-one img {
    width: 100%;
    height: 200px;
  }

  .part-two {
    margin-top: 200px;
    right: 50px;
    width: 100%;
    height: 420px;
  }

  .part-two p {
    font-size: 19px;
  }

  .prev {
    top: -100px;
  }

  .next {
    top: -100px;
  }

  .aboutMe hr {
    margin-top: 450px;
  }

  .myDesc {
    margin-top: 450px;
  }

  .aboutMe {
    padding-bottom: 0;
    height: 700px;
  }

  .myDesc h1 {
    font-size: 40px;
    width: 300px;
  }

  .myDesc h1:nth-child(2) {
    margin-top: 70px;
  }

  .myDesc p {
    width: 300px;
  }

  .myDesc a:nth-child(2) button {
    margin-top: 20px;
  }

  .myPic {
    display: none;
  }

  #hrHire {
    margin-top: 600px;
  }

  .social-Icon {
    margin-left: 30px;
    width: 30px;
    height: 30px;
  }

  .social-Icon:nth-child(1) {
    margin-left: 0;
  }

  .social-Icon a i {
    margin-top: 4px;
    margin-left: 7px;
    font-size: 20px;
  }

  .social-Icon:nth-child(3) a i {
    margin-left: 5px;
  }
  .social-Icon:nth-child(4) a i {
    margin-left: 6px;
  }

  .footer {
    display: block;
  }

  .footer .col {
    width: 100%;
    margin-top: 30px;
  }

  .footer .col:nth-child(1) {
    width: 100%;
  }

  .footer .col:nth-child(1),
  .footer .col:nth-child(2),
  .footer .col:nth-child(3) {
    border-right: none;
    border-bottom: 1px solid #ff6000;
    padding-bottom: 30px;
  }

  .header .circle {
    top: 100px;
    left: 70px;
  }

  .header .photo {
    margin-top: 1200px;
    margin-left: 40px;
  }

  .header .bio {
    right: 30px;
    left: 35px;
  }

  .header .bio p {
    font-size: 16px;
    width: 300px;
  }

  .header .photo img {
    margin-top: -50px;
  }

  .timeline .card {
    position: relative;
    max-width: 300px;
  }
}

@media only screen and (max-width: 280px) {
}
