body {
  margin: 0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
}

/* Title Style */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

/* Icon and Span text Style */
span,
i {
  color: #ff6000;
}

/* Buttons style */
.btn-primary {
  background-color: transparent;
  border: 1px solid #ff6000;
  color: #ff6000;
  border-radius: 50px;
  padding: 15px 25px 15px 25px;
  width: 200px;
}

a {
  color: white;
  text-decoration: none;
}

.btn-secondary {
  background-color: #ff6000;
  color: white;
  border-radius: 50px;
  padding: 15px 25px 15px 25px;
  width: 200px;
}

button {
  transition: all 0.35s;
}

button:hover {
  letter-spacing: 3px;
}

/* Line Style */
hr {
  background-color: #ff6000;
  border: none;
  height: 10px;
}

.width-page {
  width: 85%;
  margin: 0 auto;
}

/* ------------------------ */
