body {
  margin: 0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Title Style */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

/* Icon and Span text Style */
span {
  color: #ff6000;
}

.lang {
  margin-top: 20px;
}

.lang i {
  color: white;
}

.lang h1 {
  display: inline;
  margin-left: 20px;
}

/* Buttons style */
.btn-primary {
  background-color: transparent;
  border: 1px solid #ff6000;
  color: #ff6000;
  border-radius: 50px;
  padding: 15px 25px 15px 25px;
  width: 200px;
}

a {
  color: white;
  text-decoration: none;
}

.btn-secondary {
  background-color: #ff6000;
  color: white;
  border-radius: 50px;
  padding: 15px 25px 15px 25px;
  width: 200px;
}

button {
  transition: all 0.35s;
}

button:hover {
  letter-spacing: 3px;
}

/* Line Style */
hr {
  background-color: #ff6000;
  border: none;
  height: 10px;
}

.width-page {
  width: 80%;
  margin: 0 auto;
}

.active {
  color: #ff6000;
  font-weight: bold;
}

/* ------------------------ */
.logo {
  font-size: 20px;
  display: inline;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  margin-left: -100px;
  margin-top: 25px;
}

.navbar ul li {
  display: inline;
  margin-left: 50px;
}
